* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Playfair Display', 'Quicksand';
}

body {
    position: relative;
    height: 100vh;
}

/* hero */
.hero {
    align-content: center;
    height: 100vh;
    background-color: white;
}

h1 {
    font-size: 3rem;
}

h6 {
    font-family: 'Quicksand';
    text-align: justify;
}

/* content */
.content {
    align-content: center;
    height: 100vh;
    background-color: white;
}

.card {
    background-color: white;
}

/* populer */
.populer {
    height: 100vh;
    background-color: white;
}

.populer .card {
    background-color: white;
}

.login {
    align-content: center;
    background-color: white;
}

/*footer*/
footer {
    background-color: rgb(140, 186, 159);
}

.register {
    align-content: center;
    background-color: white;
}

.page {
    position: relative;
    height: 100vh;
    background-color: white;
}



.image-costum {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

.list-group-item {
    font-family: 'Quicksand';
}

.uploader {
    text-align: center;
}

.drop-area {
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.drop-area:hover {
    background-color: #f0f0f0;
    border-color: #999;
}

.drop-area p {
    color: #666;
    margin: 0;
}

.preview-container {
    margin-top: 20px;
}

.preview-container img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.form-control:focus {
    border-color: rgb(140, 186, 159);
}